<footer>
    <div class="container-fluid">
      <div class="row mt-4 mb-4">
        <div class="col-lg-6">
          <div class="footer_content">
            <div class="phone_email">
              <img src="./assets/images/24 Icons.png" width="20px" class="img-fluid" />
              <span>contact@totalscope.com</span>
            </div>
            <div class="phone">
              <img src="./assets/images/24 Icons (1).png" width="18px" class="img-fluid" />
              <span>(720) 307-2795</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-end">
          <span class="copyrights">© 2023 TotalScope | All Rights Reserved</span>
        </div>
      </div>
    </div>
  </footer>